* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section1 {
  background-image: url("images/puntitos.png");
  background-size: cover;
  height: 616px;
  position: relative;
  margin: 0;
}

.section1__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  padding: 30px;
  margin-top: 10px;
}

.logo {
  height: 45px;
  width: 62px;
}

.titulo {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 48px;
  margin-top: 80px;
  padding: 0 42px;
}

.foto_de_bienvenida {
  height: 315px;
  width: 315px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section2 {
  height: 538px;
  width: 100%;
  background-color: #141414;
}

.contenedor_section2 {
}

.section2__textos {
  width: 100%;
}

.subtitulo {
  height: 44px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -2px;
  text-align: center;
}

.contenedor_de_p {
  display: flex;
  box-sizing: border-box;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.p {
  color: #fafafa;

  font-family: "Roboto";
  font-size: 16px;
  width: 100%;
  max-width: 312px;

  line-height: 100%;
  letter-spacing: 0%;
}

.section2_img {
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

.section3 {
  background-color: #fafafa;
  width: 375px;
  height: 1375px;
  margin-top: 69px;
}

.contenedor_section3 {
  height: 100%;
}

.subtitulo {
  color: #141414;
  width: 100%;
}

.elemento_section3 {
  display: block;
  font-family: "Roboto";
  margin: 0 52px;
}

.img_section3 {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitulo2_contenedor {
  width: 100%;
  margin-top: ;
}

.subtitulo2 {
  text-align: center;
  margin: 14px auto;
  font-weight: 700;
  font-size: 24px;
}

.cuerpo {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
