* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section1 {
  background-image: url("images/puntitos.png");
  background-size: cover;
  height: 616px;
  position: relative;
  margin: 0;
}

@media (min-width: 769px) {
  .section1 {
  }
}

.section1__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  padding: 30px;
  margin-top: 10px;
}

@media (min-width: 769px) {
  .section1__header__menu {
    display: none;
  }
}

.menu_desplegado {
  display: none;
}

@media (min-width: 769px) {
  .menu_desplegado {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
  }
}

.menu_link {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

.logo {
  height: 45px;
  width: 62px;
}

@media (min-width: 769px) {
  .section1__body {
    display: flex;
    justify-content: space-between;
  }
}

.titulo {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 48px;
  margin-top: 80px;
  padding: 0 42px;
}

@media (min-width: 769px) {
  .titulo {
    text-align: inherit;
  }
}

.foto_de_bienvenida {
  height: 315px;
  width: 315px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 769px) {
  .foto_de_bienvenida {
    position: inherit;
  }
}

.section2 {
  height: 538px;
  width: 100%;
  background-color: #141414;
}

.contenedor_section2 {
}

.section2__textos {
  width: 100%;
}

.subtitulo {
  color: #fafafa;
  height: 44px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -2px;
  text-align: center;
  padding: 69px;
}

.contenedor_de_p {
  display: flex;
  box-sizing: border-box;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.p {
  color: #fafafa;

  font-family: "Roboto";
  font-size: 16px;
  width: 100%;
  max-width: 312px;

  line-height: 100%;
  letter-spacing: 0%;
}

.section2_img {
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

.section3 {
  background-color: #fafafa;
  width: 100%;
  height: 1375px;
  padding: 69px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_section3 {
  height: 100%;
  width: 271px;
}

.subtitulo--negro {
  color: #141414;
  width: 100%;
  height: 44px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -2px;
  text-align: center;
}

.elemento_section3__primero {
  display: block;
  font-family: "Roboto";
  margin-top: 58px;
}

.elemento_section3 {
  display: block;
  font-family: "Roboto";
  margin-top: 104px;
}

.img_section3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitulo2_contenedor {
  width: 100%;
  margin-top:;
}

.subtitulo2 {
  text-align: center;
  margin: 14px auto;
  font-weight: 700;
  font-size: 24px;
}

.cuerpo {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.section4 {
  height: 660px;
  background-color: #141414;
}

.contenedor-formulario {
  width: 335px;
  height: 428px;
  margin: auto;
}

.form {
}

.fieldset {
  margin-bottom: 27px;
}
.input-nombre,
.input-email,
.input-mensaje {
  height: 45px;
  width: 100%;
}

.input-mensaje {
  height: 113px;
  text-align: unset;
  margin-bottom: 33px;
}
.label {
  display: block;
  margin-bottom: 1em;
  color: #fafafa;
  font-family: "Roboto";
}

.boton-enviar {
  background-color: #ffd953;
  width: 100%;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 4px;
}

.section5 {
  height: 493px;
  background-color: #dbdbdb;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100%;
  display: block;
  padding: 53px;
}

.footer_contenedor_1 {
  margin-bottom: 85px;
  font-family: "Roboto";
}

.footer_contenedor_2 {
  display: block;
}

.redesSociales_contenedor {
  font-family: "Roboto";
}

span {
  margin: 10px;
}
